extends layout
block content
  h1 But du jeu
  p Vous devez être l'ultime survivant de l'aventure.

  h1 Inscription
  p Les inscriptions durent deux jours. Durant ces deux jours, vous devez respecter un certain nombre de critères :
    ul
      li Etre incarné dans une ville
      li Etre encore au jour 1
      li Etre le premier de votre ville à être inscrit

  h1 Déroulement du jeu
  p Une fois les inscriptions terminées, les joueurs sont répartis dans deux équipes : les jaunes et les rouges.
    br
    | Tous les jours, ces équipes devront passer une épreuve commune.
    | A la fin de la journée, l'équipe gagnante reçoit l'immunité. L'autre équipe doit éliminer un de ses membres lors du Conseil.
    br
    | Lorsqu'une équipe est éliminée, ou qu'il n'y a plus beaucoup de joueurs, ces derniers sont réunis dans une même équipe blanche.
    br
    | Les épreuves deviennent donc individuelles, et celui qui remporte l'épreuve devient immunisé lors des Conseils.

  h1 Beta-test
    p Tout le monde peut être beta-testeur.
      br
      | Les beta-testeurs VIP auront des consignes particulières qui leur seront fournies par MP.
      | Ils seront écoutés en priorité et auront certains privilèges que les autres beta-testeurs n'auront pas.

    p L'application est encore en cours de développement. Les fonctionnalités à tester seront donc éparpillées dans le temps.

    h2 Déroulement
    p Durant les beta-tests, vous pourrez tester les nouvelles fonctionnalités au fur et à mesure qu'elles sortent.
      br
      | Votre ville ne remplira pas forcément les conditions pour pouvoir beta-tester, mais c'est aussi ce qu'on cherche.
      br
      | Si vous voulez aller plus loin, on peut modifier vos informations pour que vous puissiez tester "normalement".
      br
      | Il vous suffit d'envoyer un Message Twinoïd en décrivant ce qui vous bloque.
    h2 Consignes
      h3 29/04/2013 - Inscriptions
      p Merci de m'envoyer un message privé avec le couple Pseudo / Clé externe, afin de vous désanonymiser.
      p La première étape est de tester l'inscription. Est-ce que les informations sont cohérentes avec votre ville ? Pouvez-vous vous inscrire ?
        br
        | Merci de reporter tout comportement suspect par MP.